<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import NavBar from "./components/NavBar.vue"
</script>

<template>
  <NavBar></NavBar>
  <router-view></router-view>
</template>

<style>
:root{
  font-size : 16px;
  --text-primary: #b6b6b6;
  --bg-primary : #23232e;
  --bg-secondary : white;
  --transition-speed : 200ms;
}
h1{
  color : var(--text-primary);
}
body{
  color : black;
  background-color :  var(--bg-secondary);
  margin : 0;
  padding : 0;
}

body::-webkit-scrollbar{
  width : 1rem;
  color : blue;
}
body::-webkit-scrollbar-track{
  background : black;
}
body::-webkit-scrollbar-thumb{
  background : black;
}
</style>
