<script lang="ts">

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      count: 0,
    };
  },
};
</script>

<template>
  <main>
    <router-link to="/login">Go to Login</router-link>
    <h1>{{ msg }}</h1>
    <button type="button" @click="count++" @mouseover="count += 2">
      count is: {{ count }}
    </button>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum
      ipsum et dui porta commodo. Nulla tempor vel erat non imperdiet. Quisque
      tincidunt vel quam condimentum placerat. Donec et massa sed justo placerat
      pulvinar. Duis vulputate tellus magna, id lacinia nibh euismod id.
      Maecenas sed sapien dapibus eros dignissim placerat vitae ut augue.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Donec imperdiet quam sit amet odio varius vestibulum. Etiam
      ac turpis vel enim gravida vulputate. Sed at massa facilisis, suscipit
      mauris ac, varius sapien. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas. Sed tempus aliquet magna,
      at faucibus libero rutrum ut. Vivamus molestie nisl eu arcu faucibus
      rhoncus. Nullam ultrices mi sit amet convallis fringilla. In felis arcu,
      placerat at urna vitae, eleifend faucibus tortor. In porttitor purus vitae
      erat venenatis, a semper nunc lobortis. Duis finibus volutpat ex a
      viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Aliquam erat volutpat. Phasellus nunc sem,
      convallis eget tempor vel, dictum vitae enim. Sed blandit leo in
      sollicitudin rutrum. Vestibulum mattis pellentesque velit vitae
      condimentum. Etiam sit amet pulvinar neque. Sed varius arcu ac velit
      dignissim tempus. Nulla luctus, sem in pellentesque molestie, dui nisl
      tristique lacus, ut suscipit elit nisl eget ligula. Aenean vel aliquet
      nunc. Duis sit amet fringilla nisl. Curabitur varius quam nisl, id
      venenatis ex cursus non. Proin fermentum diam eu consequat venenatis. Duis
      ac ex libero. Integer laoreet pharetra turpis, id semper mauris. Duis eget
      fermentum ante. Nullam eget varius turpis. Ut leo erat, pharetra non
      tincidunt sit amet, suscipit vel nisi. In tempus porttitor ligula eget
      cursus. Nullam posuere felis eget finibus maximus. Etiam suscipit orci nec
      tristique sagittis. Curabitur porta lacinia sapien, ut aliquam dui auctor
      at. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nunc dolor lorem, commodo sed aliquam id, luctus
      id nunc. Morbi eget dui tortor. Duis sagittis ipsum mauris, vitae blandit
      arcu rhoncus eu. Nulla eget enim vel tellus scelerisque fermentum non non
      tellus. In cursus ante at risus dapibus pellentesque. Nullam molestie,
      quam a molestie tempus, enim mi malesuada felis, in suscipit augue justo a
      nisl. Suspendisse condimentum lobortis pharetra. Aliquam ornare, urna eu
      aliquet pulvinar, risus justo dapibus odio, aliquam rutrum ante ex non
      felis. Phasellus varius massa in arcu ultrices cursus. Mauris vitae massa
      nec diam porta egestas nec non justo. In ut pulvinar ligula. Sed a nunc
      nec nisi maximus dapibus. Sed risus mauris, condimentum non ornare
      aliquam, facilisis eget dui. Aenean malesuada tincidunt vehicula. Praesent
      consequat ligula quis massa porta, id auctor nisl blandit. Donec tellus
      purus, iaculis vel gravida quis, vulputate sit amet tellus. Nulla est est,
      fringilla eget molestie eu, imperdiet vel lacus. Quisque in tempor massa.
      Phasellus at ultrices ligula. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vestibulum ut urna
      sit amet velit condimentum sodales in non sem. Aenean vel nibh sit amet
      velit fermentum venenatis vitae eget metus. Etiam dignissim nulla eget
      diam mattis, eu aliquet ligula sagittis. Etiam ante felis, placerat at
      quam at, fermentum euismod nisi. Aliquam erat volutpat. Praesent et sem a
      arcu varius imperdiet. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Duis et purus leo. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Ut porttitor, eros in dignissim euismod, ipsum ante luctus sapien,
      at condimentum sem nulla id urna. Donec mattis enim eu nunc malesuada
      pretium. Morbi aliquet, eros in ultrices rhoncus, odio neque sagittis
      velit, ac gravida nisi risus eget sapien. Vivamus lobortis tempus erat
      laoreet placerat. Donec eget semper lorem. Mauris varius non metus quis
      lobortis. Sed neque nulla, ullamcorper sed risus sit amet, aliquet
      molestie nibh. Mauris blandit tincidunt elementum. Aliquam non leo a purus
      aliquam hendrerit. Proin id finibus tortor, ac condimentum lectus. Nunc
      cursus euismod placerat. Donec a convallis nibh. Nulla maximus sit amet ex
      aliquet mollis. Aliquam erat volutpat. Aenean nec tellus molestie,
      pulvinar nulla ac, pharetra lorem. Aliquam est arcu, luctus venenatis odio
      lacinia, eleifend dignissim velit. Phasellus vitae semper tellus. Proin eget diam magna. Mauris sed ornare metus. Morbi vitae dolor nulla. Sed
      quis eros at tellus commodo lobortis et at tortor. Praesent sapien dolor,
      aliquet id facilisis eget, imperdiet eu nibh. Nam accumsan diam at augue
      aliquam commodo. Nunc viverra lectus tortor, vel facilisis metus volutpat
      nec. Praesent porta commodo porttitor. Vestibulum imperdiet mi eget nisl
      accumsan, ut ornare velit efficitur. Integer malesuada risus nec elit
      lobortis sagittis. Suspendisse et massa vel massa porta posuere. Etiam in
      turpis arcu. Fusce metus mi, imperdiet a nulla eu, ornare tincidunt lacus.
      Cras sed augue quam. Nullam efficitur elit sit amet placerat dictum. Ut
      maximus cursus sapien at vestibulum. Donec pretium libero sit amet ex
      aliquet, sit amet volutpat elit iaculis. Integer a diam vitae nisl
      consequat aliquam at non sem. Etiam sodales odio at dignissim commodo.
      Mauris vitae risus et magna tempus ornare ac sed erat. Sed lacus diam,
      facilisis id semper ac, feugiat sed purus. Aliquam scelerisque vestibulum
      pulvinar. Nullam suscipit mauris eu diam malesuada, quis auctor mauris
      blandit. Etiam nec diam nec enim mattis tempus. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Cras at porttitor dui. In commodo dictum nunc ac consectetur. Quisque eu
      mi a mi auctor malesuada. Pellentesque dui eros, mattis vitae mollis
      vitae, euismod eu eros. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae; Morbi porttitor tellus tempus
      euismod gravida. Etiam sodales ipsum vehicula justo bibendum aliquet.
      Proin id maximus nulla. In est leo, hendrerit vel tempor ac, lobortis
      vestibulum diam. Nulla facilisi. Nam venenatis et elit in tempor. Duis
      quis placerat quam. Nullam feugiat metus ut aliquet pretium. Fusce
      malesuada ut elit quis semper. Vivamus viverra nulla id magna hendrerit,
      non vestibulum mauris rutrum. Ut molestie odio orci, vel scelerisque risus
      ornare sit amet. Vestibulum malesuada condimentum purus viverra fringilla.
      Etiam nunc neque, vestibulum et pulvinar condimentum, lacinia ut ipsum.
      Morbi ac placerat tortor, ac pharetra enim. Curabitur eleifend vehicula
      tellus, vitae viverra nibh lobortis sit amet. Nulla at mollis dui. Nullam
      risus urna, vulputate sed dolor ac, varius facilisis urna. Nunc imperdiet
      lectus eu arcu eleifend, quis ornare purus feugiat. Ut ultrices pretium
      eros, et posuere mi accumsan in. Curabitur facilisis, magna ac porta
      blandit, dolor urna aliquet ante, vel molestie tortor nunc ac magna.
      Suspendisse rhoncus, felis id blandit malesuada, magna nisi sollicitudin
      quam, nec rutrum dolor velit et odio. Praesent tempor malesuada magna non
      rutrum. Cras luctus lectus et lectus eleifend finibus. Vivamus et nunc
      quis sem sodales rhoncus. Aliquam erat volutpat. Quisque elementum mollis
      finibus. Pellentesque ultrices lectus urna, sed facilisis felis tempor ut.
      Curabitur sit amet arcu euismod libero dictum accumsan ut nec velit. Proin
      vel dolor ac arcu commodo maximus finibus ac velit. Suspendisse arcu
      nulla, pellentesque et neque ut, vehicula mollis elit. Nunc maximus
      pharetra nibh dapibus feugiat. Aenean id elit ut enim eleifend sodales.
      Aenean placerat odio in mattis molestie. Maecenas eget iaculis nisl.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Cras congue lorem tortor, vitae laoreet purus tempus nec.
      Fusce ligula dolor, aliquam non tincidunt vel, eleifend et diam. Donec
      bibendum lacinia turpis, eu tincidunt dolor dignissim sed. Duis eros nisl,
      ultrices posuere ex in, aliquam tempus enim. Praesent cursus libero eget
      vehicula tincidunt. Sed ex ligula, eleifend eu mattis non, dignissim sed
      odio. Sed non velit quis justo tempor vehicula vel ut risus. In lacus
      nulla, varius nec sapien at, aliquet accumsan sem. Suspendisse eget sapien
      sit amet purus rhoncus dapibus. Ut bibendum tortor malesuada risus
      suscipit, gravida sagittis purus molestie. Ut porttitor in lacus sed
      sollicitudin. Quisque quis malesuada augue. Pellentesque feugiat tincidunt
      velit, in eleifend dui molestie non. Duis rutrum sodales nisl, sit amet
      rhoncus nulla consectetur at. Praesent tempor volutpat gravida. Proin
      semper suscipit urna nec porta. Morbi ex leo, iaculis in luctus eget,
      interdum ut eros. Nam eget ante eget justo condimentum gravida. Duis
      tristique, metus non finibus semper, orci turpis sagittis eros, vel
      vestibulum massa purus non nisl. Phasellus faucibus placerat velit, at
      semper leo semper et. Nullam sollicitudin dolor a velit blandit, et
      viverra diam condimentum. Proin pharetra elementum libero a blandit.
      Curabitur suscipit ac felis eget tincidunt. Vestibulum imperdiet augue
      quis purus fermentum, et egestas ligula consequat. Curabitur egestas sem
      urna, non fermentum risus rhoncus a. Nunc semper, leo vitae viverra
      posuere, purus risus sollicitudin justo, at ornare augue magna eu neque.
      Quisque sapien enim, tincidunt quis est sed, vestibulum posuere leo. Sed
      ac fermentum leo. Cras eget volutpat lectus. Vivamus at tortor diam. Nunc
      volutpat varius imperdiet. Nunc metus risus, dapibus at ipsum in, tempor
      ornare tellus. Proin at mi lectus. Orci varius natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec sed auctor dui.
      Maecenas vehicula libero vitae lacus pretium, nec finibus neque placerat.
      Curabitur at sem sed magna sodales interdum. Sed vulputate accumsan tortor
      et tempus. Cras eu velit quis nunc laoreet tempus at et nisi. Fusce mollis
      lorem eu sollicitudin rutrum. Etiam purus est, cursus ac orci id, iaculis
      porttitor justo. Sed lectus nisl, pellentesque eget quam ac, pretium
      tincidunt dolor. Nunc bibendum elit turpis, id faucibus tortor elementum
      id. Cras ac arcu id nisi luctus blandit. Integer nisl odio, faucibus at
      volutpat a, mollis et nisi. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas. Duis blandit ornare nisi
      sit amet euismod. Proin at justo nulla. Duis tempor elit sed risus
      gravida, et varius nulla aliquam. Cras egestas hendrerit porttitor.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Nulla tortor mi, vestibulum eget ligula quis, rutrum
      sagittis quam. Sed vestibulum arcu vitae ullamcorper tincidunt. Maecenas
      accumsan ac mauris sit amet varius. Aliquam erat volutpat. Morbi
      ullamcorper mauris id nisi iaculis, ut suscipit nulla rutrum. Sed vitae
      nunc rutrum, scelerisque nisi a, bibendum augue. Sed sodales mauris vitae
      imperdiet lacinia. Aenean sollicitudin nisl vitae placerat efficitur.
      Vestibulum consectetur pretium lacus, sit amet eleifend magna. Maecenas
      elementum elit eget elit finibus blandit. Aliquam at aliquam massa.
      Suspendisse mi mi, pretium ac magna non, consectetur pellentesque est.
      Aliquam at mi in mauris lobortis mattis. Integer gravida mi suscipit
      luctus pretium. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Praesent non ipsum dolor. Donec maximus
      lectus vitae eleifend sagittis. Maecenas eu volutpat nisi. Nullam
      efficitur leo sed libero pharetra fermentum. Curabitur et interdum risus,
      vel rutrum metus. Phasellus in tristique ante, eget luctus libero. Donec
      quis enim eget tellus eleifend tempor et in justo. Nam interdum vel nunc
      et interdum. Ut sed arcu varius, sodales tellus sit amet, aliquam nibh.
      Cras fringilla vulputate volutpat. Aliquam et est quis lectus facilisis
      accumsan. Nunc magna lorem, elementum vitae malesuada a, rutrum eu libero.
      Nulla porta nisl nec orci ornare, at molestie turpis cursus. Donec quis
      aliquet mauris. Donec vel tincidunt ante. Nunc in semper elit, eget varius
      augue. Vestibulum vulputate arcu vel ipsum ultrices consequat. Phasellus
      nisl quam, dictum quis risus eget, aliquet ullamcorper sem. Donec cursus
      nisl eget diam imperdiet consectetur. Vestibulum suscipit, justo at
      aliquet fringilla, augue arcu laoreet felis, ut tincidunt massa ipsum ut
      elit. Nunc eleifend, orci vel sodales dapibus, nunc lacus faucibus metus,
      nec accumsan mauris sem at tellus. Integer fringilla in ante vel porta.
      Nam lacinia tortor et convallis interdum. Pellentesque at urna at purus
      volutpat pharetra ut non turpis. Vestibulum aliquam orci quis mollis
      elementum. Suspendisse potenti. Nullam erat nulla, fringilla consectetur
      ex in, finibus suscipit nunc. Quisque ultrices lorem a tincidunt viverra.
      Quisque sodales est felis, eu dictum velit fermentum at. Aliquam massa
      nunc, tincidunt sit amet est nec, congue ornare sapien. Curabitur mattis
      laoreet odio vel vulputate. Donec eu ligula feugiat lorem tempus aliquet
      eget eget sem. Fusce at turpis sed lorem porttitor sodales ac a velit.
      Donec placerat elit sollicitudin tempus gravida. Maecenas eu neque
      tristique, blandit odio id, condimentum orci. Donec lectus erat,
      condimentum vitae lectus eget, consequat sodales ipsum. Morbi posuere vel
      tortor fringilla lobortis. Aenean sem elit, scelerisque mattis ante non,
      tincidunt lobortis diam. Duis interdum sem vitae tristique efficitur. Duis
      fringilla mauris at libero laoreet dictum sed vitae purus. Nulla eu libero
      vel nulla pulvinar luctus. In porta neque nibh, sed tempus diam viverra
      ac. Etiam in tempus mauris. Nullam eget auctor est. Vivamus luctus purus
      ac orci pulvinar viverra. Integer tempus mi libero, ac scelerisque quam
      cursus vitae. Sed at porttitor nunc. Morbi sit amet ipsum aliquet, euismod
      risus vel, venenatis risus. Morbi orci dolor, fermentum id vulputate nec,
      ultricies eu massa. Proin condimentum dui ut orci dapibus sollicitudin. In
      sed tempor ex. Maecenas pulvinar, eros eget posuere tempor, enim mauris
      feugiat leo, ac dictum justo dolor viverra risus. Nullam vitae fermentum
      augue. Aliquam sem nisi, efficitur in enim eget, faucibus rutrum lectus.
      Aliquam id pretium metus, a placerat metus. Nullam quis suscipit velit.
      Donec quis erat pretium, faucibus nulla sed, malesuada augue. Nulla
      dapibus scelerisque nulla. Nullam vitae sollicitudin felis. Aenean est
      lacus, tempor eget elit non, ullamcorper suscipit diam. Vivamus vehicula,
      est vitae pharetra sodales, erat massa iaculis libero, ut cursus dui
      turpis ac turpis. Ut pulvinar, ex non rutrum lacinia, erat eros commodo
      erat, vel eleifend dui enim at orci. Donec posuere justo enim, eget
      pellentesque tellus mattis eu. Praesent scelerisque urna ac fringilla
      mollis. Donec id lectus ut erat suscipit tristique vel quis risus. Aliquam
      erat volutpat. Vestibulum eu pretium est. Pellentesque purus nisi,
      sagittis non aliquam sit amet, egestas vitae urna. Quisque sit amet risus
      eget ipsum fringilla ullamcorper. Integer sit amet risus nec sapien
      aliquam iaculis. Suspendisse potenti. Vivamus tempor luctus sem, eu
      tincidunt nunc vulputate id. Cras augue ligula, aliquet ac ipsum quis,
      euismod facilisis magna. Duis gravida eros eget nisi consequat, non
      volutpat neque feugiat. Mauris egestas at massa sit amet bibendum. Nullam
      nec felis condimentum, sodales justo non, mattis est. Curabitur nec odio
      non lacus dapibus ultrices. Donec vehicula nec nulla non mollis. Fusce
      nisl mi, rhoncus et vehicula vel, bibendum vel neque. Nam blandit lacus id
      ante luctus, hendrerit venenatis magna scelerisque. Nam eu ullamcorper
      purus. Etiam ut placerat mi, in lobortis metus. Phasellus vestibulum lorem
      in semper lacinia. Aliquam nec elit sit amet neque congue vestibulum. Nam
      arcu sapien, tincidunt non tellus vitae, imperdiet placerat ante. Etiam
      mattis quis dolor id tincidunt. Phasellus a neque eu elit mollis varius.
      Suspendisse potenti. Nam vitae arcu ac dui viverra bibendum eu id dolor.
      Suspendisse potenti. Sed risus urna, porttitor ut faucibus et, lobortis id
      leo. Duis eu libero quam. Sed dapibus mi id sem vulputate facilisis. Morbi
      eleifend, ligula ac blandit elementum, tortor mauris semper eros, sed
      sagittis leo nibh a quam. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae; Nullam neque dolor, volutpat et
      nunc vel, semper ultricies odio. Suspendisse euismod odio diam, at
      fermentum augue tristique efficitur. In ut interdum justo, in fringilla
      sem. Proin dictum diam finibus mollis ullamcorper. Donec feugiat pulvinar
      sem, pharetra tincidunt neque volutpat vitae. In consectetur libero nibh,
      hendrerit tincidunt purus ultrices in. Duis varius purus ut porta
      consectetur. Vivamus ac semper nisl, at ultrices odio. Duis ornare tempus
      consequat. Suspendisse potenti. Donec semper enim quis ante pharetra
      cursus. Ut vulputate erat eu ullamcorper auctor. Aenean id erat at lectus
      lacinia facilisis vel sit amet orci. Ut sit amet ipsum elit. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Aenean molestie nec ex non commodo. Interdum et malesuada fames
      ac ante ipsum primis in faucibus. Nunc laoreet elit rutrum, pharetra felis
      quis, vestibulum odio. Ut vulputate mollis libero, at elementum ipsum
      lacinia sit amet. Aliquam id posuere nisi. Sed posuere, diam sit amet
      elementum iaculis, massa odio sodales tortor, eget efficitur nibh magna ut
      purus. Sed quis ornare ligula, a suscipit leo. Fusce eu porttitor dolor.
      Proin finibus mollis ultricies. Nulla facilisi.
    </p>
  </main>
</template>

<style>
main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width : 600px){
  main{
    margin-left : 0;
  }
}
</style>
