<template>
  <main>
    <div class="container">
      <div class="card">
        <div v-if="passwordError"> 
        <p>Error in either email or password!!</p>
        <br />
        </div>
        <form v-on:submit.prevent="submitLogin">
          <label for="username">Your Phone or Email:</label>
          <br />
          <input type="text" v-model="username" id="username" name="username" />
          <br />
          <label for="password">Password:</label>
          <br />
          <input
            type="password"
            v-model="password"
            id="password"
            name="password"
          />
          <br />
          <input type="submit" value="Login" />
        </form>
        <router-link to="/signup">Dont have a account?</router-link>
        <br />
        <router-link to="/forget_password">Forgot Password?</router-link>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
export default {
  name: "LoginPage",
  data() {
    return {
      passwordError: false,
      username: "",
      password: "",
    };
  },
  methods: {
    async submitLogin() {
      let url = "/api/users/login";
      await fetch(url, {
        method: "POST",
        headers: {
          "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        credentials: "include",
        body: "id=" + encodeURI(this.username) 
          + "&password=" + encodeURI(this.password),
      })
        .then((res) => {
          console.log("Response: ", res);
          if (!res.ok) {
            throw new Error("Error in login");
          }
        })
        .catch((err) => {
          console.error(err);
          this.passwordError = true;
        });
    },
  },
};
</script>

<style>
.container {
  /* add shadow to create card effect*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
</style>
