<template>
  <main>
    <div class="container">
      <div class="card">
        <div v-if="credentialsErr">

        </div>
        <form @submit.prevent="submitInfo">
          <label for="email"> Email </label> <br />
          <input type="text" id="email" name="email"/>
          <br />
          <label for="phoneno"> Phone Number </label><br />
          <input type="tel" id="phoneno" name="phoneno"/>
          <br />
          <label for="name"> Name </label><br />
          <input type="text" id="name" name="name"/>
          <br />
          <label for="age"> Age </label><br />
          <input type="number" id="age" name="age"/>
          <br />
          <label for="password"> Password </label><br />
          <input type="password" id="password" name="password"/>
          <br />
          <input type="submit" value="Register" />
        </form>
        <router-link to="/login">Have a account?</router-link>
      </div>
    </div>
  </main>
</template>
<script lang="ts">
export default {
  name: "SignUpPage",
  data() {
    return{
      credentialsErr : false,
      errorString : "",
      email : "",
      phoneno : "",
      password : "",
      name : "",
      age : "",
    }
  },
  methods:{
    async submitInfo(){
      let url = "/api/users/create";
      await fetch(url, {
        method: "POST",
        headers : {
          "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        credentials : "include",
        body: "email=" + encodeURI(this.email) + 
          + "&password=" + encodeURI(this.password)
        + "&phoneno=" + encodeURI(this.phoneno)
        + "&name=" + encodeURI(this.name)
        + "&age=" + encodeURIComponent(this.age),
      })
      .then((res) => {
        console.log("Response : ", res);
        if(!res.ok) {
          throw new Error("Error in signup");
        }
        return res.text();
      })
      .then((body) => {
        console.log(body);
      })
      .catch((err) => {
        console.error(err);
        this.credentialsErr = true;
      });
    }
  }
};
</script>

<style></style>
